<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="resources/bootstrap/css/bootstrap-theme.min.css">
      <script src="resources/bootstrap/js/bootstrap.min.js"></script>  
  </head>
  <body>
  {% block content %}{% endblock %}
  {% include 'footer.twig.html' %}
  </body>
</html>
