{% extends 'layout.twig.html' %}
{% block title %}People{% endblock %}

{% block content %}
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
	{% for person in people %}
			<tr>
				<td>{{ person.id }}</td>
				<td>{{ person.lastName }}</td>
				<td>{{ person.firstName }}</td>
				<td><a href="?id={{ person.id }}">See</a> | <a href="add-person?id={{person.id }}">Modify</a> </td>
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-person">Add New Person</a>
{% endblock %}
